# build output
dist/
!wordpress/elementor/dist/
!ebook/dist/
ebook/dist/preview/
ebook/dist/ebook.html
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment variables
.env
.env.*
!.env.example

# OS / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# python
__pycache__/
